<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Envio de perguntas</ion-title>
  </ion-toolbar>

  <ion-toolbar #botoes color="primary">
    <ion-buttons left>
        <button *ngIf="diaSelecionado>hoje" ion-button icon-only (click)="slidesDias.slidePrev()" [hidden]="estado != estadoLista.Sucesso" [disabled]="slidesDias && slidesDias.isBeginning()">
            <ion-icon name="md-arrow-dropleft"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title text-center>{{diaSelecionado}}</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="slidesDias.slideNext()" [hidden]="estado != estadoLista.Sucesso" [disabled]="slidesDias && slidesDias.isEnd()">
            <ion-icon name="md-arrow-dropright"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
        <button ion-item (click)="acessarRanking()">
            <ion-avatar item-right class="seta">
                <ion-icon name="arrow-dropright"></ion-icon>
            </ion-avatar>
            <h2 class="nomeAtiv" text-wrap>Dúvidas do evento</h2>
        </button>
    </ion-list>
</ion-card>
<ion-slides  class="dias" (ionSlideDidChange)="mudouDia()">
    <ion-slide *ngIf="estado == estadoLista.Sucesso && listaPorDia.length <= 0">
        <ion-card>
            <ion-card-content>
                Nenhuma atividade encontrada.
            </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide *ngIf="estado != estadoLista.Sucesso">
        <ion-card padding>
            <ion-item *ngIf="estado == estadoLista.Carregando">
                <ion-spinner item-start></ion-spinner>
                <p>Carregando atividades...</p>
            </ion-item>
            <ion-card-content text-center *ngIf="estado == estadoLista.Falha">
                <ion-icon name="warning" style="font-size:7vh;"></ion-icon>
            </ion-card-content>
            <ion-card-content *ngIf="estado == estadoLista.Falha">
                <h2>Não foi possível carregar as atividades.</h2>
                <p>Verifique sua conexão e tente novamente mais tarde.</p>
                <br>
                <button ion-button full clear (click)="carregar()">Tentar novamente</button>
            </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide *ngFor="let dia of listaFiltrada">
        <ion-scroll scrollY="true">
            <ion-card>
                <ion-list>
                    <button ion-item *ngFor="let ativ of dia.ativ" (click)="acessarRanking(ativ)">

                        <ion-avatar item-right class="seta">
                            <ion-icon name="arrow-dropright"></ion-icon>
                        </ion-avatar>
                        <h2 class="nomeAtiv" text-wrap>{{ativ.titulo}}</h2>
                    </button>
                </ion-list>


            </ion-card>
        </ion-scroll>
    </ion-slide>
</ion-slides>

</ion-content>
