$marcador: (
    agenda: #488AFF,
    prog: #DDDDDD,
);

@function aux-marcador() {
    @return map-remove($marcador);
}

.segment.segment-ios {
  padding: 0px !important;
}

p.local {
  margin-top: 0.7em;
}

h2.nomeAtiv {
  line-height: 1.3;
}

@each $marcador, $cor in aux-marcador() {
  button[marcador=#{$marcador}] ion-label {
      border-left: 2px solid $cor;
      padding-left: 10px;
  }
}

ion-slides.dias {

  ion-slide {
      height: 100%;
  }

  ion-slide div.slide-zoom {
      height: 100%;

      ion-scroll {
          height: 100%;
      }
  }
}


