<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Crie uma figurinha!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="atividades">

    <ion-item>
      <ion-select [(ngModel)]="selectedAtividade" placeholder="Selecione uma atividade"  >
        <ion-select-option [value]=0>Sem vinculo a atividade</ion-select-option>
        <div *ngFor="let atividade of atividades.atividades">
          <ion-select-option [value]="atividade.ID">{{atividade.Nome}}</ion-select-option>
        </div>

      </ion-select>
    </ion-item>


      <ion-button class = "ion-margin"expand="block" (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>

      <div *ngIf="selectedImage.webPath" class="ion-margin">
        <ion-img  [src]="selectedImage?.webPath"></ion-img>

        <ion-button expand="block" (click)="shareOeganization()"> <ion-icon class="ion-margin" name="arrow-redo"></ion-icon>Compartilhar com a organização </ion-button>
        <ion-button expand="block" > <ion-icon class="ion-margin" name="logo-instagram"></ion-icon> Postar no Instagram</ion-button>
      </div>




</ion-content>
