.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  display: inline-flex;
}

.selectGroupContainer {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  top: 20px;
  left: 20px;
  z-index: 98;
}

.selectFloorContainer{
  display: flex;
  // flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.selectFloorLabel{
  display: flex;
  margin: 0;
  color: grey;
  font-weight: bold;
  white-space: nowrap;
  font-size: 14px;
}

.selectFloor{
  display: flex;
  justify-content: space-between;
  background-color: #D7E2FF;
  color: grey;
  width: 50px;
  padding: 5px;
  border-radius: 6px;
  align-items: center;
}

.card {
  z-index: 100;
  animation: card-appear 0.5s ease-in-out forwards;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

@keyframes card-appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.cardTitle {
  color: dark;
  font-size: 18px;
  font-weight: bold;
}

.distance {
  color: #FFA600;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 2px;
  right: 55px;
}

.cardCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 18px;
}

.cardImageContainer {
  height: 120px;
  width: 50%;
}

.cardImage {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.navigationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 8px;
  color: white;
  background-color: rgba(1,1,1, 0.8);
  border: 1px solid white;
  padding: 10px;
}

.messageBanner {
  width: 70%;
  position: absolute;
  top: 25%;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px #5B5B5B;
  padding: 10px 20px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.instructionTitle {
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 10px 0px;
}

.instructionImageContainer {
  height: 120px;
  // width: 50%;
  margin: 0px 0px 20px 0px;
}

.instructionImage {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.dismissButton {
  display: flex;
  width: 100%;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: solid 1px grey;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

.roundedButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 4px;
  bottom: 40%;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background-color: #F3FFA5 ;
  border: 1px solid grey;
  z-index: 99;
}