<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Parceiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content bg>

  <ion-refresher slot="fixed" (ionRefresh)="carregar($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ng-container *ngIf="estado == enumEstado.Sucesso">
  <ion-card *ngIf="listaParceiros.length == 0">
      <ion-card-content text-center>
          <p>Não há nenhum parceiro deste evento.</p>
      </ion-card-content>
  </ion-card>

  <div class="patrocinador" [attr.tamanho]="tamanhoCard[p.prioridade]" *ngFor="let p of listaParceiros">
      <ion-card>
          <div *ngIf="p.urlImg && p.urlImg != ''" class="p-img" [attr.tamanho]="tamanhoCard[p.prioridade]">
              <div [style.backgroundImage]="'url(' + p.urlImg + ')'"></div>
          </div>
          <ion-item text-center>
              <ion-avatar item-right class="medalha">
                  <img [src]="imgMedalha[p.prioridade]">
              </ion-avatar>
              <h2>{{p.nome}}</h2>
              <a *ngIf="p.url" [href]="p.url">{{p.url}}</a>
          </ion-item>
      </ion-card>
  </div>
</ng-container>

<ion-card padding *ngIf="estado != enumEstado.Sucesso">
  <ion-item *ngIf="estado == enumEstado.Carregando">
      <ion-spinner item-start></ion-spinner>
      <p>Carregando parceiros...</p>
  </ion-item>
  <ion-card-content text-center *ngIf="estado == enumEstado.Falha">
      <ion-icon name="warning" style="font-size:7vh;"></ion-icon>
  </ion-card-content>
  <ion-card-content *ngIf="estado == enumEstado.Falha">
      <h2>Não foi possível carregar os parceiros.</h2>
      <p>Verifique sua conexão e tente novamente mais tarde.</p>
      <p>Você pode puxar a página para baixo para tentar recarregar a lista dos parceiros.</p>
  </ion-card-content>
</ion-card>

</ion-content>
