<!-- Informações sobre o app -->

<ion-header>

  <ion-toolbar color="primary">
      <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>Sobre</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content bg>
  <ion-card padding>
      <p text-center>
          <strong>Sobre o myMobiConf</strong>
      </p>
      <img src="assets/img/logo-mymobiconf.png" id="logo">
      <p text-center>
          <br>Sistema de apoio à participação em eventos
          <br>Encontre seu evento, monte a sua agenda e envie suas opiniões!
          <br>
          <a href="http://www.mymobiconf.caf.ufv.br/informacoes/">http://www.mymobiconf.caf.ufv.br/informacoes/</a>
      </p>
  </ion-card>

  <ion-card padding>
      <p text-center>
          <strong>Desenvolvido por</strong>
      </p>
      <img src="assets/img/logo-nesped.png" id="logo">
      <p text-center>
          <br>Núcleo de Estudos em Sistemas Pervasivos e Distribuídos
          <br>da UFV-Florestal
          <br>
          <a href="http://www.nesped.caf.ufv.br">www.nesped.caf.ufv.br</a>
      </p>
  </ion-card>
</ion-content><!-- Informações sobre o app -->

<ion-header>

    <ion-toolbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Sobre</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content bg>
    <ion-card padding>
        <p text-center>
            <strong>Sobre o myMobiConf</strong>
        </p>
        <img src="assets/img/logo-mymobiconf.png" id="logo">
        <p text-center>
            <br>Sistema de apoio à participação em eventos
            <br>Encontre seu evento, monte a sua agenda e envie suas opiniões!
            <br>
            <a href="http://www.mymobiconf.caf.ufv.br/informacoes/">http://www.mymobiconf.caf.ufv.br/informacoes/</a>
        </p>
    </ion-card>

    <ion-card padding>
        <p text-center>
            <strong>Desenvolvido por</strong>
        </p>
        <img src="assets/img/logo-nesped.png" id="logo">
        <p text-center>
            <br>Núcleo de Estudos em Sistemas Pervasivos e Distribuídos
            <br>da UFV-Florestal
            <br>
            <a href="http://www.nesped.caf.ufv.br">www.nesped.caf.ufv.br</a>
        </p>
    </ion-card>
</ion-content>
