<!-- Configurações -->

<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding bg>
  <ion-list>
      <ion-item>
          <ion-label>Notificações</ion-label>
          <ion-toggle [(ngModel)]="notif" (ionChange)="mudarConfig(cfg.AtivarNotif,notif)"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Conflito de atividades</ion-label>
          <ion-toggle [(ngModel)]="conflito" (ionChange)="mudarConfig(cfg.PermitirConflito,conflito)"></ion-toggle>
      </ion-item>
      <ion-item lines="none" (click)="ativarTutoriais()">Reativar tutoriais</ion-item>
  </ion-list>

  <ion-button  expand="block" (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon> Sair</ion-button>
</ion-content>
