<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ábum de figurinhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content bg>
  <ion-card>
    <a class="botao-quadrado" *ngFor="let b of botoes">
        <div id="container">
            <ion-button class="button" #principais fill="clear" expand="block" (click)="acessarPagina(b.pagina)">
                <div id="out">
                    <div id="in">
                        <img src="assets/img/{{b.id}}.png">
                        <br>
                        <p>{{b.label}}</p>
                    </div>
                </div>
            </ion-button>
        </div>
    </a>

</ion-card>
</ion-content>
