<div class="page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" default-href="#"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        Indo para {{title}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrapper">
    <div class="infoGroupContainer">
      <div class="infoRow">
        <p class="infoLabel">Você está no andar: </p>
        <p class="infoValue">{{floor}}</p>
      </div>
      <div style="margin: 8px"></div>
      <div class="infoRow">
        <p class="infoLabel">Distância até o destino: </p>
        <p class="infoValue">{{distance}} metros</p>
      </div>
    </div>
  </div>

  <div 
    (click)="reCenter()" 
    class="roundedButtonContainer"
  > 
    <ion-img src="../../../assets/img/localizacao/user.png"></ion-img>
  </div>
  
  <div *ngIf="isMessageVisible" class="messageBanner">
    <p class="instructionTitle">{{instructionTitle}}</p>
    <p class="instructionDescription">{{instructionDescription}}</p>
    <div class="instructionImageContainer">
      <ion-img class="instructionImage" *ngIf="currentInstructionImage != ''" src={{currentInstructionImage}}></ion-img>
    </div>
    <button (click)="setMessageVisible()" class="dismissButton">Entendi</button>
  </div>

  <div *ngIf="isFloorMessageVisible" class="messageBanner">
    <p class="instructionTitle">{{instructionTitle}}</p>
    <p class="instructionDescription">{{instructionDescription}}</p>
    <div class="instructionImageContainer">
      <ion-img class="instructionImage" *ngIf="currentInstructionImage != ''" src={{currentInstructionImage}}></ion-img>
    </div>
    <button (click)="handleFloorChanges()" class="dismissButton">Continuar</button>
  </div>

  <div *ngIf="isSuccessMessageVisible" class="messageBanner">
    <p class="instructionTitle">Parabéns, você chegou ao seu destino!!</p>
    <div class="successImageContainer">
      <ion-img class="instructionImage" *ngIf="currentInstructionImage != ''" src={{currentInstructionImage}}></ion-img>
    </div>
    <button (click)="goBack()" class="successDismissButton">Legal</button>
  </div>

  <div #map id="map"></div>
</div>
