.direita{
  text-align:right;
}
.esquerda{
  text-align:left;
}
.centro{
  text-align:center;
}

.votou{
  background-color: white;
  color: #0074d9;
}

.naoVotou{
  background-color: white;
  color: black;
}



