.direita{
  text-align:right;
}
.esquerda{
  text-align:left;
}
.centro{
  text-align:center;
}

.votou{
  background-color: white;
  color: #0074d9;
}

.naoVotou{
  background-color: white;
  color: black;
}

.altura{
  margin-top: -1em;
  //margin-bottom: 0.2em;
}

/*
  ion-card {
      border-radius: 8px !important;
      ion-card-content {
          padding-left: 10px !important;
          padding-right: 10px !important;
          padding-top: 8px !important;
          padding-bottom: 0px !important;
          white-space: pre-wrap;
      }
  }*/

