<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Enviar pergunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content bg>
  <ion-card class="ion-padding">
    <div class="centro ion-text-center">
        <h2 *ngIf="atividade"><b>{{(atividade)?atividade.titulo:"-"}}</b></h2>
        <h2 *ngIf="!atividade"><b>Dúvidas do evento</b></h2>
        <p>Seu nome aparecerá para os administradores do myMobiConf e para os demais participantes!</p>
    </div>
</ion-card>
<ion-card class="enviar">
    <form (ngSubmit)="enviaPergunta()">

        <ion-toolbar>
            <ion-textarea placeholder="Digite aqui sua pergunta..." [(ngModel)]="pergunta"
                [ngModelOptions]="{standalone: true}"></ion-textarea>

            <div class="centro ion-text-center">
                <ion-button shape="round" type="submit" [disabled]="pergunta?.trim().length == 0">Adicionar pergunta</ion-button>
            </div>
        </ion-toolbar>
    </form>
</ion-card>


</ion-content>
