<ion-toolbar hideBackButton color = "primary">
  <ion-buttons slots="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Login</ion-title>
</ion-toolbar>

<ion-content >
    <ion-card class= "ion-padding">
      <form [formGroup] = "loginForm">
        <ion-item  lines = "none" class="inputDestacado">
          <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <br>
        <ion-button color="primary" expand="block" [disabled]="!loginForm.valid" type="submit" expand="block" (click)="loginEmail(loginForm.value.email)">Entrar</ion-button>
        <ion-button expand="block" (click)="GoogleLogin()" color="danger" *ngIf="!isGoogleLogin">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          LogIn with Google
        </ion-button>
        <ion-button expand="block" fill="clear" (click)="irParaSignup()" >Ou crie uma conta</ion-button>
      </form>
    </ion-card>

</ion-content>

