<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card>
      <form>
        <ion-item class="inputDestacado">
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <br>
        <ion-button  expand="block">Entrar</ion-button>
        <ion-button  expand="block">Entrar com Facebook</ion-button>
        <br>
        <ion-button expand="block" fill="clear">Ou crie uma conta</ion-button>
      </form>
    </ion-card>

</ion-content>

