<!-- Página de inscrição em um evento -->

<ion-header>
  <ion-toolbar color="primary">
      <ion-title>{{(eventoEscolhido)? eventoEscolhido.nome : "-"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content bg>
  <ion-card>
      <div *ngIf="eventoEscolhido && eventoEscolhido.logoURL && eventoEscolhido.logoURL!=''" class="card-img">
          <div [style.backgroundImage]="'url(' + eventoEscolhido.logoURL + ')'"></div>
      </div>
      <ion-card-content *ngIf="eventoEscolhido">
          <!-- Nome do evento -->
          <ion-card-title> {{eventoEscolhido.nome}} </ion-card-title>
          <ion-list>
              <!-- Mostra se é online ou presencial -->
              <ion-item text-wrap>
                  <p *ngIf="eventoEscolhido.is_online == 1" class="isOnline">
                      <strong> EVENTO ONLINE</strong>
                  </p>
                  <p *ngIf="eventoEscolhido.is_online != 1" class="isOnline">
                      <strong>EVENTO PRESENCIAL</strong>
                  </p>
              </ion-item>
              <!-- Período -->
              <ion-item text-wrap>
                  <ion-icon name="calendar" item-start></ion-icon>
                  <p>De <strong>{{data.inicio}}</strong><br>a <strong>{{data.fim}}</strong></p>
              </ion-item>
              <!-- Local -->
              <ion-item text-wrap *ngIf="eventoEscolhido.is_online != 1">
                  <ion-icon name="pin" item-start></ion-icon>
                  <p>Local:</p>
                  <p>{{eventoEscolhido.local}}</p>
              </ion-item>
              <!-- Link -->
              <ion-item text-wrap *ngIf="eventoEscolhido.is_online == 1 && eventoEscolhido.link_principal!=''">
                  <ion-icon name="phone-portrait" item-start></ion-icon>
                  <p>Link principal:</p>
                  <p><a [href]="eventoEscolhido.link_principal">{{eventoEscolhido.link_principal}}</a></p>
              </ion-item>
              <!-- Possui módulo de gamificação ou não-->
              <ion-item text-wrap *ngIf="gamificacao != 0">
                  <ion-icon name="game-controller-b" item-start></ion-icon>
                  <p>Este evento possui gamificação!</p>
              </ion-item>
          </ion-list>
          <!-- Informações -->
          <p margin-vertical text-justify>{{eventoEscolhido.descricao}}</p>
          <button ion-button full (click)="inscrever()">{{(desinscrever)?"Desinscrever-se":"Inscrever-se"}}</button>
      </ion-card-content>
  </ion-card>
</ion-content>
